<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="ko">
    <title>질문 상세</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
    <h1 th:text="${question.subject}"></h1>
    <div th:text="${question.content}"></div>
    <div th:text="|Date. ${#strings.substring(question.createDate, 2, 16)}|"></div>
    <div><a th:href="${'/products/edit/' + question.id}" class="btn btn-default">Edit</a></div>
    <div><a th:href="${'/products/delete/' + question.id}" class="btn btn-danger">Delete</a></div>
</div>
<div th:replace="layout/footer::footer"></div>
</body>
</html>