<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layout/layout_list}">
<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2">질문수정</h5>
    <form th:action="@{|/questions/${question.id}|}" th:object="${questionUpdateForm}" method="post">
        <input type="hidden" name="_method" value="put" />
        <div th:replace="form_errors :: formErrorsFragment"></div>
        <div class="mb-3">
            <label for="subject" class="form-label">제목</label>
            <input type="text" th:field="*{subject}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea th:field="*{content}" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="수정하기" class="btn btn-primary my-2">
    </form>
</div>
</html>